<div class="seminars">
 <h1>Seminars</h1>
    <% @seminars.each do |seminar| %>
    <%= render partial: "seminar", locals: { seminar: seminar } %>
    <%= link_to '詳細', seminar_path(seminar) %>
    <% end %>
    <%= paginate @seminars %>
</div>

<div class="rooms">
 <h1>教室情報</h1>
  <% @rooms.each do |room| %>
  <%= render partial:"rooms/room",locals:{room: room} %>
  <% end %>
  <%= link_to '教室一覧', rooms_path %>
  <%= link_to '教室登録',new_room_path %>
</div>