<!DOCTYPE html>
<html>
  <head>
    <title>MichiDemy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
        <h1 class="logo">
          <%= link_to "MichiDemy","/" %>
        </h1>
        <div class="nav">
          <%= link_to "NewSeminar",new_seminar_path %>
        </div>
    </header>
    <%= yield %>
  </body>
</html>
